@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: black;
  transition: all .3s ease;
}
a:hover {
  color: #e53935;
  text-decoration: none;
}
a:focus {
  outline: none;
  outline-offset: 0;
  color: #e53935;
  text-decoration: none;
}

#scrollUp {
  background-image: url('../img/top.png?1621516478');
  bottom: 80px;
  right: 20px;
  width: 38px;
  height: 38px;
}

.container {
  width: 100%;
  max-width: 96%;
}
.container.container-sub {
  width: 1460px;
  max-width: 96%;
}

.headline {
  margin-bottom: 3rem;
}
.headline > * {
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-headline {
  position: relative;
  border-bottom: 2px solid #111;
  margin-bottom: 2rem;
  text-align: center;
}
.sub-headline > * {
  display: inline-block;
  border-bottom: 2px solid #e53935;
  margin-bottom: -2px;
  padding: 0 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.sub-headline.left {
  text-align: left;
}
.sub-headline.left > * {
  padding: 0 1rem;
}

.product-box {
  position: relative;
  display: block;
}
.product-box .tag-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}
.product-box .tag-box img {
  width: auto;
  height: 100%;
}
.product-box .tag-box .ranking-hot {
  position: relative;
  background: #ec407a;
  padding: 3px;
  width: 40px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: .75rem;
}
.product-box .tag-box .ranking-hot:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid #ec407a;
  border-right: 10px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #ec407a;
}
.product-box .tag-box .ranking-hot:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid #ec407a;
  border-right: 10px solid #ec407a;
  border-bottom: 5px solid transparent;
  border-left: 10px solid transparent;
}
.product-box .tag-box .ranking-new {
  position: relative;
  background: #66bb6a;
  border-radius: 15px 0;
  padding: 3px;
  width: 40px;
  height: 35px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: .75rem;
}
.product-box .pic-box {
  position: relative;
  display: block;
  margin-bottom: .75rem;
}
.product-box .title {
  display: -webkit-box;
  width: 100%;
  height: calc(.9rem * 1.2 * 2);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: .35rem;
  color: #000;
  text-align: center;
  line-height: 1.2;
  font-size: .9rem;
}
.product-box .price {
  font-size: .9rem;
}
.product-box .price > del {
  margin-right: .5rem;
  color: #666;
}
.product-box .price > span {
  color: #c62828;
  font-weight: bold;
}

.owl-carousel .pic-box .mobile {
  display: none;
}
.owl-carousel.arrow-center {
  position: relative;
}
.owl-carousel.arrow-center .owl-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.owl-carousel.arrow-center .owl-nav .owl-prev {
  position: absolute;
  left: -5px;
}
.owl-carousel.arrow-center .owl-nav .owl-next {
  position: absolute;
  right: -5px;
}
.owl-carousel.arrow-center .owl-nav {
  opacity: .3;
  transition: all .5s ease-in-out;
}
.owl-carousel:hover.arrow-center .owl-nav {
  opacity: 1;
}

.wave-t {
  position: relative;
  margin-top: 100px;
}
.wave-t:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 5rem;
  background: url('../img/bg-wave.png?1621995940') repeat-x top center;
  background-size: 200% 100%;
  transform: rotate(180deg);
}

.wave-b {
  position: relative;
  margin-bottom: 100px;
}
.wave-b:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 5rem;
  background: url('../img/bg-wave.png?1621995940') repeat-x top center;
  background-size: 200% 100%;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .container.container-sub {
    width: 100%;
    max-width: 100%;
  }

  .headline {
    margin-bottom: 3rem;
  }
  .headline > * {
    line-height: 1;
    font-size: 2rem;
  }

  .sub-headline > * {
    font-size: 2rem;
  }

  .product-box .price > del {
    margin-right: .5rem;
    color: #333;
    font-size: .875rem;
  }
  .product-box .price > span {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .container.container-sub {
    width: 100%;
    max-width: 100%;
  }

  .headline {
    margin-bottom: 2.5rem;
  }
  .headline > * {
    font-size: 1.75rem;
  }

  .sub-headline > * {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .container.container-sub {
    width: 100%;
    max-width: 100%;
  }

  .headline {
    margin-bottom: 2rem;
  }
  .headline > * {
    line-height: 1;
    font-size: 1.5rem;
  }

  .sub-headline > * {
    font-size: 1.5rem;
  }

  .owl-carousel .pic-box .pc {
    display: none;
  }
  .owl-carousel .pic-box .mobile {
    display: block;
  }
  .owl-carousel.arrow-center .owl-nav .owl-prev {
    left: 0;
  }
  .owl-carousel.arrow-center .owl-nav .owl-next {
    right: 0;
  }

  .wave-t {
    margin-top: 60px;
  }
  .wave-t:before {
    background-size: 300% 60%;
  }

  .wave-b {
    margin-bottom: 60px;
  }
  .wave-b:after {
    background-size: 300% 60%;
  }

  .product-box .title {
    height: calc(.7rem * 1.2 * 2);
    font-size: .7rem;
  }
}
@media (max-width: 575px) {
  .headline > * {
    font-size: 1.25rem;
  }

  .sub-headline > * {
    font-size: 1.25rem;
  }

  .container {
    width: 100%;
    max-width: 100%;
  }
  .container.container-sub {
    width: 100%;
    max-width: 100%;
  }

  .owl-carousel.arrow-center .owl-nav {
    top: 30%;
  }
  .owl-carousel.arrow-center .owl-nav {
    opacity: .3;
    transition: all .5s ease-in-out;
  }
  .owl-carousel:hover.arrow-center .owl-nav {
    opacity: 1;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  color: #111;
  font-family: 'Open Sans', sans-serif;
}

.header-bar {
  background: #e91e63;
  margin-bottom: .75rem;
  padding: .25rem 0;
  color: #fff;
  font-size: .875rem;
}
.header-bar a {
  display: inline-block;
  color: #fff;
}
.header-bar .title a {
  font-weight: bold;
}
.header-bar .tips {
  text-align: center;
}
.header-bar .connect {
  text-align: right;
  color: #fff;
}
.header-bar .connect a {
  color: #fff;
}
.header-bar [class*="fa"] {
  margin-right: 5px;
  color: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #222;
  padding-bottom: .75rem;
}
header .navbar.nav-main {
  width: 100%;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  justify-content: space-between;
  padding: 0;
}
header .navbar.nav-main .logo-box {
  display: flex;
  align-content: center;
}
header .navbar.nav-main .logo-box .navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #ef5350;
  font-size: 1.5rem;
}
header .navbar.nav-main .logo-box .logo {
  color: #fff;
}
header .navbar.nav-main .logo-box .logo .navbar-brand {
  color: #fff;
}
header .navbar.nav-main .logo-box .logo .navbar-brand > img {
  max-height: 60px;
}
header .navbar.nav-main .navbar-box .navbar-inner .search-box {
  display: none;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav {
  display: flex;
  justify-content: space-between;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item {
  text-align: center;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item .nav-link {
  position: relative;
  cursor: pointer;
  padding: 0 1rem;
  color: #fff;
  font-size: .875rem;
  line-height: 60px;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item .nav-link:focus, header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item .nav-link:hover {
  color: #e53935;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item.active .nav-link {
  color: #e53935;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu {
  margin-top: -1px;
  padding: 25px 15px;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu .dropdown-item {
  display: inline-block;
  color: #666666;
  padding: .15rem 0;
  background: transparent;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu .dropdown-item:focus, header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: red;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large {
  position: static;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu {
  width: 100%;
  padding: 25px 50px;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li.list-header {
  margin-bottom: .5rem;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li > a {
  display: inline-block;
  color: #666666;
  padding: .15rem 0;
}
header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li > a:focus, header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li > a:hover {
  color: red;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner {
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  border-radius: .35rem .35rem .35rem 0;
  padding: 2px 5px;
  color: #fff;
  line-height: 1.2;
  font-size: .75rem;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 0;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.red {
  background: #e53935;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.red:after {
  border: 3px solid #e53935;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.pink {
  background: #d81b60;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.pink:after {
  border: 3px solid #d81b60;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.green {
  background: #43a047;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.green:after {
  border: 3px solid #43a047;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.blue {
  background: #1e88e5;
}
header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner.blue:after {
  border: 3px solid #1e88e5;
}
header .navbar.nav-main .search-box {
  display: flex;
  align-items: center;
  height: 3rem;
  background: #fff;
  border-radius: 2rem;
  overflow: hidden;
}
header .navbar.nav-main .search-box .form-control {
  height: 3rem;
  border: none;
  border-radius: 2rem;
  box-shadow: none;
  outline-offset: 0;
  padding: 0 1.5rem;
}
header .navbar.nav-main .search-box .form-control:focus, header .navbar.nav-main .search-box .form-control:hover {
  outline: 0;
}
header .navbar.nav-main .search-box .btn {
  min-width: 4rem;
  height: 3rem;
  border-radius: 2rem;
}

.container-carousel {
  min-height: 450px;
}

footer {
  position: relative;
  margin-top: 8rem;
  color: #fff;
}
footer:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 5rem;
  background: url('../img/footer-wave.png?1622014093') no-repeat top right;
  background-size: 100% 100%;
}

@media (max-width: 1366px) {
  header .navbar.nav-main {
    flex-wrap: wrap;
  }
  header .navbar.nav-main .logo-box {
    order: 1;
    width: 45%;
    max-width: 50%;
  }
  header .navbar.nav-main .logo-box .logo .navbar-brand > img {
    max-height: 60px;
  }
  header .navbar.nav-main .navbar-box {
    order: 3;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
  header .navbar.nav-main .search-box {
    order: 2;
    width: 45%;
    max-width: 50%;
    height: 2.5rem;
    margin-left: 1rem;
  }
  header .navbar.nav-main .search-box .form-control {
    height: 2.5rem;
  }
  header .navbar.nav-main .search-box .btn {
    min-width: 3rem;
    height: 2.5rem;
  }
}
@media (max-width: 991px) {
  header .navbar.nav-main .logo-box {
    order: 1;
    width: 100%;
    max-width: 100%;
  }
  header .navbar.nav-main .logo-box {
    display: flex;
    align-content: center;
  }
  header .navbar.nav-main .logo-box .navbar-toggler {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #ef5350;
    font-size: 1.5rem;
  }
  header .navbar.nav-main .logo-box .logo {
    color: #fff;
  }
  header .navbar.nav-main .logo-box .logo .navbar-brand {
    color: #fff;
  }
  header .navbar.nav-main .logo-box .logo .navbar-brand > img {
    max-height: 48px;
  }
  header .navbar.nav-main .navbar-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    margin-top: 0;
  }
  header .navbar.nav-main .navbar-box .navbar-inner {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 80%;
    text-align: left;
    overflow-y: auto;
    padding: 1rem;
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background: white;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  header .navbar.nav-main .navbar-box .navbar-inner.active {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 200px 0;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  header .navbar.nav-main .navbar-box .navbar-inner .search-box {
    display: flex;
    align-items: center;
    height: 2.5rem;
    background: #fff;
    border-radius: 2rem;
    border: 1px solid #e53935;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .search-box .form-control {
    height: 3rem;
    border: none;
    border-radius: 2rem;
    box-shadow: none;
    outline-offset: 0;
    padding: 0 1.5rem;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .search-box .form-control:focus, header .navbar.nav-main .navbar-box .navbar-inner .search-box .form-control:hover {
    outline: 0;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .search-box .btn {
    min-width: 4rem;
    height: 3rem;
    border-radius: 2rem;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item {
    text-align: left;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item .nav-link {
    display: inline-block;
    cursor: pointer;
    color: #333;
    line-height: 2.5;
    padding: 0;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item .nav-link:focus, header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item .nav-link:hover {
    color: #e53935;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .nav-item.active .nav-link {
    color: #e53935;
    font-weight: bold;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu {
    margin-top: -1px;
    padding: 10px 0;
    border: none;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu .dropdown-item {
    display: inline-block;
    color: #666666;
    padding: .15rem 0;
    background: transparent;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu .dropdown-item:focus, header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: red;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large {
    position: static;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu {
    width: 100%;
    padding: 10px 0;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul {
    margin-bottom: 0;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li.list-header {
    margin-bottom: .5rem;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li > a {
    display: inline-block;
    color: #666666;
    padding: .15rem 0;
  }
  header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li > a:focus, header .navbar.nav-main .navbar-box .navbar-inner .navbar-nav .dropdown-large .dropdown-large-menu ul > li > a:hover {
    color: red;
  }
  header .navbar.nav-main .navbar-box .navbar-nav .nav-item .nav-link .corner {
    top: -5px;
    right: -10px;
  }
  header .navbar.nav-main .search-box {
    display: none;
    width: 100%;
    max-width: 100%;
    border: none;
    margin-top: 1rem;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  footer:before {
    background-size: 300% 100%;
  }
}
.flash-sale {
  background: #afb4b7;
}

.special-list {
  background: #afb4b7;
}

.top-reviews .row .left .pic-box {
  position: relative;
  display: block;
}
.top-reviews .row .right .icon-box {
  margin-bottom: .5rem;
  color: #e53935;
  font-size: 1.25rem;
}
.top-reviews .row .right .date {
  color: #111;
  font-size: 1.15rem;
}
.top-reviews .row .right .title {
  display: -webkit-box;
  width: 100%;
  height: calc(1.15rem * 2 * 1.2);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: .5rem;
  color: #000;
  line-height: 1;
  font-size: 1.15rem;
}
.top-reviews .row .right .summary {
  display: -webkit-box;
  width: 100%;
  height: calc(.875rem * 2 * 1.5);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
  line-height: 1.5;
  font-size: .875rem;
}

.promise-list .item-box .pic-box {
  display: inline-block;
  margin-bottom: .5rem;
  padding: 1rem;
  overflow: hidden;
}
.promise-list .item-box .content .title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.about-list .accordion dt {
  position: relative;
  border-top: solid 1px #dddddd;
  padding: 1rem 3rem 1rem 0;
  cursor: pointer;
  color: #000;
  font-size: 1.75rem;
}
.about-list .accordion dt::before {
  content: "";
  position: absolute;
  top: 36%;
  right: 14px;
  transform: translateX(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border-right: 2px solid #c62828;
  vertical-align: top;
  margin: -2px 0 0 0;
}
.about-list .accordion dt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateX(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #c62828;
  vertical-align: top;
  margin: -2px 0 0 0;
}
.about-list .accordion dt:focus, .about-list .accordion dt:hover {
  color: #c62828;
}
.about-list .accordion dt.open {
  color: #c62828;
}
.about-list .accordion dt.open::before {
  display: none;
}
.about-list .accordion dd {
  display: none;
  padding: 1rem 0 3rem 0;
}
.about-list .accordion dd .content {
  margin-bottom: 1rem;
}
.about-list .accordion dd ul {
  padding-left: 15px;
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
  .promise-list .item-box .pic-box {
    display: inline-block;
    margin-bottom: .5rem;
    padding: 1rem;
    overflow: hidden;
  }
  .promise-list .item-box .content .title {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
  .promise-list .item-box .content .summary {
    display: -webkit-box;
    width: 100%;
    height: calc(1rem * 3 * 1.5);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
    line-height: 1.5;
    font-size: 1rem;
  }

  .about-list .accordion dt {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
  .flash-sale {
    background: #afb4b7;
  }
  .flash-sale .price {
    font-size: 1.25rem;
  }

  .top-reviews .row .right .icon-box {
    margin-bottom: .35rem;
    color: #e53935;
    font-size: 1rem;
  }
  .top-reviews .row .right .date {
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .top-reviews .row .right .title {
    height: calc(1rem * 2 * 1);
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .top-reviews .row .right .summary {
    height: calc(.75rem * 2 * 1.2);
    line-height: 1.2;
    font-size: .75rem;
  }
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
  .top-reviews .row .left {
    margin-bottom: .5rem;
  }
  .top-reviews .row .right .icon-box {
    margin-bottom: .35rem;
    color: #e53935;
    font-size: 1rem;
  }
  .top-reviews .row .right .date {
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .top-reviews .row .right .title {
    height: calc(1rem * 2 * 1);
    margin-bottom: .35rem;
    font-size: 1rem;
  }

  .promise-list .item-box .content .title {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  .about-list .accordion dt {
    font-size: 1.25rem;
  }
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .promise-list .item-box .content .summary {
    height: calc(.875rem * 3 * 1.4);
    line-height: 1.4;
    font-size: .875rem;
  }

  .about-list .accordion dt {
    font-size: .875rem;
  }
}
.page-headline {
  background: linear-gradient(to right, #4772d9, #00dcaf);
  background-position: center;
  padding: 1rem 0;
  text-align: center;
}
.page-headline .title {
  color: #fff;
  font-size: 1.75rem;
}

.link-box {
  border: 1px solid #333;
  margin-bottom: 2rem;
  padding: 1rem;
}
.link-box .title-box {
  margin-bottom: 1rem;
}
.link-box .content a {
  display: inline-block;
  color: #666;
}

.countdown-product .box {
  display: block;
  border: 1px solid #dddddd;
  padding: .5rem;
}
.countdown-product .box .pic-box {
  display: block;
  margin-bottom: .5rem;
  overflow: hidden;
}
.countdown-product .box .content .countdown-box {
  white-space: nowrap;
  background: #f44336;
  border-radius: 30px;
  margin-bottom: .5rem;
  padding: .25rem;
  text-align: center;
  color: #fff;
}
.countdown-product .box .content .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countdown-product .box .content .price > span:first-child {
  display: inline-block;
  color: #c62828;
  font-size: 1rem;
  font-weight: bold;
}
.countdown-product .box .content .price > del {
  display: inline-block;
}
.countdown-product .box .content .price > span:last-child {
  display: inline-block;
  background: #f44336;
  padding: .25rem .35rem;
  color: #fff;
}

.container-sub .product-category .sort-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background: #f9f9f9;
  border-radius: .35rem;
  margin-bottom: 1rem;
  padding: .5rem .75rem;
}
.container-sub .product-category .sort-box .btn:focus, .container-sub .product-category .sort-box .btn:hover {
  color: #e53935 !important;
}
.container-sub .product-category .sort-box .btn.active {
  color: #e53935;
}
.container-sub .product-category .sort-box .btn.mixitup-control-active {
  color: #e53935;
}
.container-sub .product-category .sort-box .grid-box {
  display: flex;
  align-items: center;
}
.container-sub .product-category .sort-box .grid-box .btn-box {
  margin-right: 1rem;
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
  .countdown-product .box {
    display: flex;
    align-items: center;
  }
  .countdown-product .box .pic-box {
    margin-bottom: 0;
    max-width: 40%;
  }
  .countdown-product .box .content {
    width: calc(100% - 40% - 15px);
    margin-left: 15px;
  }
  .countdown-product .box .content .price {
    justify-content: start;
  }
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .countdown-product .box {
    display: block;
    align-items: center;
  }
  .countdown-product .box .pic-box {
    margin-bottom: .5rem;
    max-width: 100%;
  }
  .countdown-product .box .content {
    width: 100%;
    margin-left: 0;
  }
}
.container-product-detail {
  max-width: 90%;
}
.container-product-detail .product-top .left > * {
  top: 126px;
}
.container-product-detail .product-top .title-box {
  top: 126px;
}

.slider-main .slick-prev {
  left: 25px;
  z-index: 1;
}
.slider-main .slick-next {
  right: 25px;
  z-index: 1;
}
.slider-main .slick-dots {
  display: none !important;
  position: relative;
  top: 10px;
  width: calc(100% + 10px);
  float: left;
  margin-left: -5px;
  margin-right: -5px;
}
.slider-main .slick-dots li {
  width: 20%;
  height: 130px;
  margin: 0;
  padding: 0 5px;
  float: left;
}
.slider-main .slick-dots li button {
  width: 100%;
  height: auto;
  float: left;
  padding: 0;
  margin: 0;
}
.slider-main .slick-dots li button:before {
  display: none;
}
.slider-main .slick-dots li button.thumbnail img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.slider-main .slick-dots li button.thumbnail img {
  opacity: 0.6;
}
.slider-main .slick-dots li button.thumbnail:hover img {
  opacity: 1;
}
.slider-main .slick-dots .slick-active .thumbnail img {
  opacity: 1;
}

.slider-thumbs .slick-prev,
.slider-thumbs .slick-next {
  top: 100%;
  z-index: 1;
  width: 100%;
  background: #cccccc;
}
.slider-thumbs .slick-prev::before,
.slider-thumbs .slick-next::before {
  color: white;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 100;
}
.slider-thumbs .slick-prev::before {
  content: "\f106";
}
.slider-thumbs .slick-next::before {
  content: "\f107";
}
.slider-thumbs .slick-prev:hover::before,
.slider-thumbs .slick-next:hover::before {
  color: #e53935;
}
.slider-thumbs .slick-prev {
  top: -20px;
  left: 0;
}
.slider-thumbs .slick-next {
  right: 0;
  z-index: 1;
  margin-top: 15px;
}
.slider-thumbs .slick-list {
  overflow: hidden;
  margin-top: 30px;
}
.slider-thumbs .slick-list img {
  opacity: .8;
}

.product-option .form-check-label .form-check-input {
  display: none;
}
.product-option .form-check-label .pic-box {
  position: relative;
  display: block;
  padding: 2px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}
.product-option .form-check-label .pic-box::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  background: red;
}
.product-option .form-check-label:focus .pic-box, .product-option .form-check-label:hover .pic-box {
  padding: 2px;
  border: 1px solid #c62828;
}
.product-option .form-check-label:focus .pic-box::after, .product-option .form-check-label:hover .pic-box::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}
.product-option .form-check-label .form-check-input:checked ~ .pic-box {
  padding: 2px;
  border: 1px solid #c62828;
}
.product-option .form-check-label .form-check-input:checked ~ .pic-box::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}
.product-option .form-check-label .form-check-input {
  margin-left: -1rem;
}

.add-to-cart-box button[type="submit"] {
  position: relative;
}
.add-to-cart-box button[type="submit"] .tips {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  border-radius: 4px;
  padding: 3px 5px;
  color: #333;
  font-size: 12px;
}
.add-to-cart-box button[type="submit"] .tips:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-right: 6px solid #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

@media (max-width: 1366px) {
  .container-product-detail {
    max-width: 100%;
  }
  .container-product-detail .product-top .left > * {
    top: 202px;
  }
  .container-product-detail .product-top .title-box {
    top: 202px;
  }
}
@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
  .container-product-detail {
    max-width: 100%;
  }
  .container-product-detail .product-top .left > * {
    top: 202px;
  }
  .container-product-detail .product-top .title-box {
    top: 202px;
  }
}
@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
  header {
    padding: .35rem 0;
  }

  .container-product-detail .product-top .left > * {
    top: 69px;
  }
  .container-product-detail .product-top .title-box {
    top: 69px;
  }

  .slider-main .slick-dots {
    display: block !important;
    margin-bottom: 30px;
  }
  .slider-main .slick-dots li {
    width: 20px !important;
    height: 20px !important;
    float: none !important;
    margin: 0 5px !important;
    padding: 0 !important;
    cursor: pointer;
  }
  .slider-main .slick-dots li button:before {
    display: block;
  }
  .slider-main .slick-dots li button.thumbnail img {
    display: none;
  }
  .slider-main .slick-dots li button {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
}
@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
  .container-product-detail .product-top .title-box {
    top: 69px;
  }
}
@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .container-product-detail .product-top .title-box {
    top: 63px;
  }
  .container-product-detail .add-to-cart-box > button {
    padding: .3rem .5rem;
    font-size: .875rem;
  }
}
@media (max-width: 375px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .container-product-detail .product-top .title-box {
    top: 58px;
  }
}
