main {
  &.news-body {
    margin-top: 3rem;
    margin-bottom: 5rem;

    & .main-content {
      position: relative;

      & .box {
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 0 30px -10px rgba(0, 0, 0, .15);
        margin-top: -8rem;
        padding: 2rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}

@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
}

@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}

@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
}
