main {
  &.news-body {
    margin-top: 3rem;
    margin-bottom: 5rem;

    & .main-content {
      position: relative;

      & .box {
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 0 30px -10px rgba(0, 0, 0, .15);
        margin-top: -8rem;
        padding: 2rem;
      }
    }

    & .aside-content {
      & .aside-box + .aside-box {
        margin-top: 3rem;
      }

      & .aside-box {
        & .title {
          font-size: 1.25rem;
          font-weight: 800;
        }

        & .social {
          & [class*="fa"] {
            font-size: 2rem;
          }
        }

        & .list {
          & .list-title {
            margin-bottom: 1rem;

            & a {
              width: 100%;
              height: calc(1rem * 1 * 1.2 * 2);
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;

              color: #0046a0;
              font-weight: 800;
              line-height: 1.2;
            }
          }

          & .read-more {
            & a {
              display: inline-block;
              color: #111;
              font-size: .875rem;
              font-weight: 600;
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}

@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
}

@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}

@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
}
