//detail-page
.product-main {
  & .product-detail {
    & .left {
      & .row {
        position: sticky;
        top: 65px;
        z-index: 999;
      }

      & .slider-main {
        & .slick-prev {
          left: 25px;
          z-index: 1;
        }

        & .slick-next {
          right: 25px;
          z-index: 1;
        }

        & .slick-dots {
          display: none !important;
          position: relative;
          top: 10px;
          width: calc(100% + 10px);
          float: left;
          margin-left: -5px;
          margin-right: -5px;

          & li {
            width: 20%;
            height: 130px;
            margin: 0;
            padding: 0 5px;
            float: left;

            & button {
              width: 100%;
              height: auto;
              float: left;
              padding: 0;
              margin: 0;

              &:before {
                display: none;
              }

              &.thumbnail img {
                width: 100%;
                height: auto;
                opacity: 0.8;
              }

              &.thumbnail img {
                opacity: 0.6;
              }

              &.thumbnail:hover img {
                opacity: 1;
              }
            }
          }

          & .slick-active .thumbnail img {
            opacity: 1;
          }
        }
      }

      & .slider-thumbs {
        .slick-prev,
        .slick-next {
          top: 100%;
          z-index: 1;
          width: 100%;
          background: $color-c;
        }

        .slick-prev::before,
        .slick-next::before {
          color: $color-f;
          font-family: 'Font Awesome 5 Pro';
          font-weight: 100;
        }

        .slick-prev::before {
          content: "\f106";
        }

        .slick-next::before {
          content: "\f107";
        }

        .slick-prev:hover::before,
        .slick-next:hover::before {
          color: $red-6;
        }

        .slick-prev {
          top: -20px;
          left: 0;
        }

        .slick-next {
          right: 0;
          z-index: 1;
          margin-top: 15px;
        }

        & .slick-list {
          overflow: hidden;
          margin-top: 30px;

          & img {
            opacity: .8;
          }
        }
      }
    }

    & .right {
      & .title-box {
        position: sticky;
        top: 65px;
        z-index: 999;
        //box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
        background: #fff;
        padding: .35rem .25rem .5rem .25rem;
      }
    }
  }

  & .product-options {
    &:before {
      content: "";
      display: block;
      height: 75px;
      margin-top: -75px;
    }

    & .left {
      & .select-box {
        & .form-check {
          display: inline-block;
          padding: 0;
        }

        & .form-check-label {
          text-align: center;

          & .form-check-input {
            opacity: 0;
          }

          & .pic-box {
            position: relative;
            display: block;
            padding: 3px;
            border: 2px solid $grey-1;
            border-radius: 100%;
            overflow: hidden;

            & img {
              border-radius: 100%;
            }
          }

          & .text-box {
            position: relative;
            display: block;
            padding: 3px 8px;
            border: 2px solid $grey-1;
            border-radius: 15px;
            overflow: hidden;

            font-size: .875rem;
          }

          &:focus, &:hover {
            & .pic-box {
              border: 2px solid $red-6;
              padding: 3px;
            }

            & .text-box {
              border: 2px solid $red-6;
              padding: 3px 8px;
            }
          }

          & .form-check-input:checked ~ .pic-box {
            border: 2px solid $red-6;
            padding: 3px;
          }

          & .form-check-input:checked ~ .text-box {
            border: 2px solid $red-6;
            padding: 3px 8px;
          }

          & .form-check-input {
            margin-left: -1rem;
          }
        }
      }
    }

    & .right {
      & .cart-box {
        position: sticky;
        top: 75px;

        & .btn-minus, & .btn-plus {
          border-radius: 0;
          border: 1px solid $red-6;
        }

        & .form-control {
          box-shadow: none;
          border-radius: 0;
          border: 1px solid $red-6;
          border-left-color: transparent;
          border-right-color: transparent;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}

@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
  .product-main {
    & .product-detail {
      & .left {
        & .col-lg-2 {
          display: none;
        }

        & .slider-main {
          & .slick-dots {
            display: block !important;
            margin-bottom: 30px;

            & li {
              width: 20px !important;
              height: 20px !important;
              float: none !important;
              margin: 0 5px !important;
              padding: 0 !important;
              cursor: pointer;

              & button:before {
                display: block;
              }

              & button.thumbnail img {
                display: none;
              }

              & button {
                width: 20px;
                height: 20px;
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}

@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
}
