//global
@charset "utf-8";

body {
}

.container {}

.header-bar {
  background: #000;
  padding: .5rem 0;

  & a {
    color: #bbb;

    &:focus, &:hover {
      color: #fff;
    }
  }
}

header {
  padding: 1rem 0;

  & .left {
    & .logo-box {
      display: flex;
      align-items: center;
      width: 100%;
    }

    & .search-box {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

.nav-main {
  padding: .5rem 0;
  border-top: 1px solid $color-d;
  border-bottom: 1px solid $color-d;
  background: $color-f;

  & .navbar-nav {
    & .nav-item {
      &.active {
        & .nav-link {
          color: $pink-5;
        }
      }

      & .nav-link {
        padding: .5rem 1rem;

        &:focus, &:hover {
          color: $pink-5;
        }
      }
    }
  }
}

.breadcrumb {
}

footer {
  position: relative;
  border-top: 1px solid $red-6;
  padding: 2rem 0;

  & .footer-inner {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
}