@charset "utf-8";

//global
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

a {
  color: $color-3;
  transition: all .3s ease;

  &:hover {
    color: $red-8;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    outline-offset: 0;
    color: $red-8;
    text-decoration: none;
  }
}

#scrollUp {
  background-image: image-url('top.png');
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
}

.container {
  width: 1460px;
  max-width: 96%;
}

.iframe-main {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  & .iframe-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.product-box {
  position: relative;
  display: inline-block;
  background-color: $color-f;
  border: 1px solid $color-e;
  border-radius: 3px;
  padding: .5rem 1rem;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;

  &:hover {
    -webkit-box-shadow: inset 0 0 0 3px $color-e;
    box-shadow: inset 0 0 0 3px $color-e;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  & .product-wrapper {
    & .badges-tiles {
      position: absolute;
      top: .5rem;
      left: 1rem;

      > span {
        display: inline-block;
        background-color: $color-e;
        color: $red-8;
        font-size: .75rem;
        border-radius: 4px 0 4px 0;
        padding: .1rem .5rem;
      }
    }

    & .pic-box {
      margin-top: 1.5rem;
    }

    & .content {
      margin-bottom: 1.5rem;

      & .rating-box {
        & .rating-rates {
          & [class*="fas"] {
            color: $red-8;
          }

          & [class*="fal"] {
            color: $color-c;
          }
        }
      }
    }
  }
}

.owl-carousel {
  & .owl-nav {
    button.owl-next, button.owl-prev {
      color: $color-f;
      padding: 2px 12px !important;
      border: 1px solid $red-8;
      background: $red-9;

      &:focus, &:hover {
        opacity: .5;
      }
    }

    & button[class*=owl-]:hover {
      color: $color-f;
      border: 1px solid $red-9;
      background: $red-8;
      transition: all .3s ease;
    }
  }

  &.arrow-center {
    position: relative;

    & .owl-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      & .owl-prev {
        position: absolute;
        left: -20px;
      }

      & .owl-next {
        position: absolute;
        right: -20px;
      }
    }
  }
}

.slider {
  & .slick-slide {
    margin: 0 10px;

    & img {
      width: 100%;
    }
  }

  & .slick-prev:before,
  & .slick-next:before {
    color: $color-0;
  }

  & .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .6;
  }

  & .slick-active {
    opacity: .8;
  }

  & .slick-current {
    opacity: 1;
  }

  & .slick-dots li button::before {
    font-size: 20px;
    color: $red-8;
  }

  & .slick-dots li.slick-active button::before {
    opacity: 1;
  }
}

.icon-wrapper-box {
  display: block;
  background: $color-f;
  border-radius: 50%;
  box-shadow: 0 0 0 0 hsla(0, 0%, 100%, .5);
  color: $red-8;
  text-align: center;
  transition: .5s;

  &:hover {
    box-shadow: 0 0 0 .5rem hsla(0, 0%, 100%, .5);
  }

  & [class*="fa"] {
    font-size: 2rem;
  }

  &.rem4 {
    width: 4rem;
    height: 4rem;
    line-height: 4.5rem;
  }

  &.rem3 {
    width: 3rem;
    height: 3rem;
    line-height: 3.6rem;
  }
}

//responsive-pc
@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .container {
    width: 100%;
    max-width: 100%;
  }

  .owl-carousel {
    &.arrow-center {
      & .owl-nav {
        & .owl-prev {
          left: -10px;
        }

        & .owl-next {
          right: -10px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .container {
    width: 100%;
    max-width: 100%;
  }

  .slider {
    & .slick-dots li button::before {
      font-size: 15px;
    }
  }

  .owl-carousel {
    &.arrow-center {
      & .owl-nav {
        & .owl-prev {
          left: -5px;
        }

        & .owl-next {
          right: -5px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .container {
    width: 100%;
    max-width: 100%;
  }

  .icon-wrapper-box {
    & [class*="fa"] {
      font-size: 1.5rem;
    }

    &.rem4 {
      width: 3rem;
      height: 3rem;
      line-height: 3.25rem;
    }

    &.rem3 {
      width: 3rem;
      height: 3rem;
      line-height: 3.25rem;
    }
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .container {
    width: 100%;
    max-width: 100%;
  }

  .slider {
    & .slick-dots li button::before {
      font-size: 12px;
    }
  }
}