//global
@charset "utf-8";

//body
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #464646;
}

.header-bar {
  background: rgb(195, 0, 45);
  padding: 8px 0;

  & a {
    display: inline-block;
    color: #fff;
  }
}

//header
header {
  background-image: linear-gradient(#e0d6ca 2.5rem, transparent 0);
  border-bottom: 10px solid #c3002d;
  margin-bottom: 1rem;

  & .container {
    position: relative;

    & .cart-btn {
      position: absolute;
      right: 0;
    }
  }

  & nav {
    & .row {
      & div[class*="col-"]:nth-of-type(1) {
        & .option-menu {
          display: flex;
          justify-content: end;
          margin-right: 2rem;
          line-height: 2.5rem;

          > a {
            display: block;
          }

          > a + a {
            margin-left: 1.5rem;
          }
        }
      }

      & div[class*="col-"]:nth-of-type(2) {
        padding-top: 1rem;
        padding-bottom: 1rem;

        & .logo {
          display: block;

          > img {
            width: auto;
            height: 100%;
          }
        }
      }

      & div[class*="col-"]:nth-of-type(3) {
        display: none;
      }

      & div[class*="col-"]:nth-of-type(4) {
        padding-top: 1rem;
        padding-bottom: 1rem;

        & .search-box {
          display: flex;
          justify-content: center;
          max-width: 60%;
          border: 2px solid #e0d6ca;
          margin: 0 auto;

          > input[type="search"] {
            width: calc(100% - 38px);
            border: none;
            outline: none;

            &:focus {
              box-shadow: none;
            }
          }

          > button {
            width: 38px;
            height: 38px;
            background: transparent;
            border: none;

            > [class*="fa"] {
              color: #e0d6ca;
            }
          }
        }
      }

      & div[class*="col-"]:nth-of-type(5) {
        & .navbar {
          border: none;
        }
      }

      & div[class*="col-"]:nth-of-type(6) {
        & .nav-service {
          display: flex;
          padding: 0;
          list-style: none;
          line-height: 2.5rem;
          font-size: .875rem;

          > li {
            & + li {
              margin-left: 1.5rem;
            }

            > a {
              display: inline-block;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

//nav
.nav-main {
  padding: .5rem 0;
  border-top: 1px solid $color-d;
  border-bottom: 1px solid $color-d;
  background: $color-f;

  & .navbar-nav {
    & .nav-item {
      &.active {
        & .nav-link {
          color: $pink-5;
        }
      }

      & .nav-link {
        padding: .5rem 1rem;

        &:focus, &:hover {
          color: $pink-5;
        }
      }
    }
  }
}

//breadcrumb
.breadcrumb {
}

.btn-more {
  margin-top: 2rem;

  & .btn-user {
    display: inline-block;
    background: #c3002d;
    border: 1px solid #c3002d;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: #fff;
    text-align: center;

    &:hover {
      background: #90001f;
    }
  }
}

.slider {
  & .slick-slide {
    margin: 0 10px;

    & img {
      width: 100%;
    }
  }

  & .slick-prev:before,
  & .slick-next:before {
    color: black;
  }

  & .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .6;
  }

  & .slick-active {
    opacity: .8;
  }

  & .slick-current {
    opacity: 1;
  }

  & .slick-dots li button::before {
    font-size: 20px;
    color: #c3002d;
  }

  & .slick-dots li.slick-active button::before {
    opacity: 1;
  }
}

.product-box {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e0d6ca;
  border-radius: 3px;
  padding: .5rem 1rem;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;

  &:hover {
    -webkit-box-shadow: inset 0 0 0 3px #e0d6ca;
    box-shadow: inset 0 0 0 3px #e0d6ca;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  & .product-wrapper {
    & .badges-tiles {
      position: absolute;
      top: .5rem;
      left: 1rem;

      > span {
        display: inline-block;
        background-color: #eceaea;
        color: #c3002d;
        font-size: .75rem;
        border-radius: 4px 0 4px 0;
        padding: .1rem .5rem;
      }
    }

    & .pic-box {
      margin-top: 1.5rem;

      > a {
        display: block;
      }
    }

    & .content {
      margin-bottom: 1.5rem;

      & .rating-box {
        display: flex;
        align-content: center;
        margin: .5rem 0;
        font-size: .875rem;

        & .rating-rates {
          margin-right: .5rem;

          & [class*="fas"] {
            color: #c3002d;
          }

          & [class*="fal"] {
            color: #c7c3c3;
          }
        }

        & .rating-note {
          color: #333;
          font-size: .75rem;
        }
      }

      & .product-headline {
        display: block;

        & .product-brand {
          margin-bottom: .5rem;
          color: #908c8c;
          font-size: .875rem;
        }

        & .product-title {
          margin-bottom: .5rem;
          color: #464646;
          font-weight: bold;
        }

        & .product-title {
          -webkit-line-clamp: 2;
          display: -webkit-box;
          width: 100%;
          height: calc(1rem * 1 * 1.5 * 2);
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      & .price-base {
        color: #908c8c;
        font-size: .875rem;
      }

      & .price-current {
        color: #c3002d;
        font-size: 2rem;
        font-weight: bold;
      }

      & .btn-box {
        & .btn-cart {
          background: #c3002d;
          border: 1px solid #c3002d;
          border-radius: 5px;
          padding: .6rem 1rem;
          color: #fff;
          text-align: center;

          &:hover {
            background: #90001f;
          }
        }
      }
    }
  }
}

.owl-carousel {
  & .owl-nav {
    button.owl-next, button.owl-prev {
      color: #fff;
      padding: 2px 12px !important;
      border: 1px solid #c3002d;
      background: #90001f;
    }

    & button[class*=owl-]:hover {
      color: #fff;
      border: 1px solid #90001f;
      background: #c3002d;
      transition: all .3s ease;
    }
  }

  &.arrow-center {
    position: relative;

    & .owl-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      & .owl-prev {
        position: absolute;
        left: -20px;
      }

      & .owl-next {
        position: absolute;
        right: -20px;
      }
    }
  }
}

//footer
.icon-box {
  display: block;
  width: 4rem;
  height: 4rem;
  line-height: 4.5rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0 hsla(0, 0%, 100%, .5);
  color: #c3002d;
  text-align: center;
  transition: .5s;

  &:hover {
    box-shadow: 0 0 0 .5rem hsla(0, 0%, 100%, .5);
  }

  & [class*="fa"] {
    font-size: 2rem;
  }
}

footer {
  & .footer-wrapper-01 {
    background: #c3002d;
    padding: 3rem 0;

    & .top {
      & .item {
        display: flex;
        align-content: center;
      }

      & .title {
        display: block;
        margin-left: 1rem;
        color: #fff;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 4rem;
      }
    }

    & .bottom {
      display: flex;
      align-content: center;

      & .left, & .right {
        display: flex;
      }

      & .left {
        display: flex;
        align-content: center;

        > * + * {
          margin-left: 1.5rem;
        }

        & a {
          display: inline-block;
          color: #fff;
          font-weight: bold;
          line-height: 3rem;
        }
      }

      & .right {
        display: flex;
        justify-content: end;

        > * + * {
          margin-left: 1.5rem;
        }
      }

      & .icon-box {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        line-height: 3.6rem;

        &:hover {
          box-shadow: 0 0 0 .5em hsla(0, 0%, 100%, .5);
        }

        & [class*="fa"] {
          font-size: 2rem;
        }
      }
    }
  }

  & .footer-wrapper-02 {
    & [class*=col-lg-4]:nth-of-type(1) {
      & .title {
        display: block;
        margin-bottom: 1.5rem;
        color: #c3002d;
        font-size: 1.25rem;
        font-weight: 700;
      }

      & ul {
        list-style: none;
        padding: 0;

        > li + li {
          margin-top: 1rem;
        }
      }
    }
  }

  & .footer-wrapper-03 {
    background: #e0d6ca;
    padding: 2rem 0;

    & .title {
      display: block;
      margin-bottom: 1.5rem;
      color: #c3002d;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  & .footer-wrapper-04 {
    background: #fff;
    padding: 3rem 0;

    & .title {
      display: block;
      margin-bottom: 1rem;
      color: #c3002d;
      font-size: 1rem;
      font-weight: 700;
    }

    & ul {
      list-style: none;
      padding: 0;

      > li {
        border-top: 1px dotted #666;
      }

      > li:last-child {
        border-bottom: 1px dotted #666;
      }

      > li a {
        display: block;
        color: #464646;
        font-size: .875rem;
        padding: .5rem 0;

        &:hover, &:focus {
          color: #c3002d;
        }
      }
    }
  }

  & .copyright-wrapper {
    padding: 1rem 0 3rem 0;
    font-size: .875rem;

    & .copyright {
      font-weight: bold;
    }

    & .summary {
      font-size: .75rem;
    }
  }
}

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
}