//global
@charset "utf-8";

//body
body {
  color: #464646;
}

.header-bar {
  background: $red-8;
}

//header
header {
  background-image: linear-gradient(#e0d6ca 2.5rem, transparent 0);

  & .row {
    & div[class*="col-"]:nth-of-type(1) {}

    & div[class*="col-"]:nth-of-type(2) {}

    & div[class*="col-"]:nth-of-type(3) {
      & .search-box {
        border: 2px solid $color-e;
        margin: 0 auto;

        > input[type="search"] {
          width: calc(100% - 38px);
          border: none;
          outline: none;

          &:focus {
            box-shadow: none;
          }
        }

        > button {
          width: 38px;
          height: 38px;
          background: transparent;
          border: none;

          > [class*="fa"] {
            color: $color-e;
          }
        }
      }
    }
  }

  & .mobile-box {
    & .cart-btn {
      display: inline-block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 40px;
      border-radius: 100%;
      border: 3px solid $red-8;

      & [class*="fa"] {
        color: $red-8;
        font-size: 1.15rem;
      }
    }
  }
}

//nav
.navbar-box {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $color-f;
  border-bottom: 10px solid $red-8;
}

.navbar.nav-main {
  width: 100%;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  justify-content: space-between;

  //border-top: 1px solid $color-c;
  //border-bottom: 1px solid $color-c;
  padding: 0;
  background: $color-f;

  & .navbar-toggler {
    color: $red;
    font-size: 1.25rem;
    background-color: transparent;
  }

  & .navbar-collapse {
    justify-content: end;
    flex-grow: 0;
  }

  & .navbar-nav {
    display: flex;
    justify-content: space-between;
    //width: 100%;

    & .nav-item {
      //width: 100%;
      text-align: center;

      & .nav-link {
        color: $color-3;
        line-height: 4rem;
        padding: 0 1.5rem;

        &:focus, &:hover {
          color: $red-8;
        }
      }
    }

    & .dropdown-menu {
      margin-top: -1px;
      padding: 25px 15px;

      & .dropdown-item {
        display: inline-block;
        color: $color-6;
        padding: .15rem 0;
        background: transparent;

        &:focus, &:hover {
          color: $red;
        }
      }
    }

    & .dropdown-large {
      position: static;

      & .dropdown-large-menu {
        width: 100%;
        padding: 25px 50px;

        & ul {
          > li {
            &.list-header {
              margin-bottom: .5rem;
              color: #666;
            }

            > a {
              display: inline-block;
              color: $color-6;
              padding: .15rem 0;

              &:focus, &:hover {
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}

//breadcrumb
.breadcrumb {
}

//footer
footer {
}

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $color-f;
    background-image: none;

    & .mobile-box {

      border-bottom: 10px solid $red-8;
    }
  }

  .navbar-box {
    position: relative;
    top: inherit;
    z-index: inherit;
    background: $color-f;
    border-bottom: none;
  }

  .navbar-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    //cursor: pointer;
    z-index: 9999999;
    background: rgba($color-0, 0.4);

    & .navbar {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: 80%;
      text-align: left;
      overflow-y: auto;
      padding: 1rem;
      -ms-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      background: $color-f;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;

      &.active {
        box-shadow: rgba($color-0, 0.1) 0 0 200px 0;
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      & .nav-item {
        text-align: left !important;

        & .nav-link {
          line-height: 2.5rem !important;
          padding: 0 !important;
          font-weight: bold;
        }
      }

      & .dropdown-menu {
        padding: 0 !important;
        border: none;
      }
    }
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)

}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
}