//index
.flash-sale {
  background: rgb(175, 180, 183);
}

.special-list {
  background: rgb(175, 180, 183);
}

.top-reviews {
  & .row {
    & .left {
      & .pic-box {
        position: relative;
        display: block;
      }
    }

    & .right {
      & .icon-box {
        margin-bottom: .5rem;
        color: $red-6;
        font-size: 1.25rem;
      }

      & .date {
        color: #111;
        font-size: 1.15rem;
      }

      & .title {
        display: -webkit-box;
        width: 100%;
        height: calc(1.15rem * 2 * 1.2);
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        margin-bottom: .5rem;
        color: #000;
        line-height: 1;
        font-size: 1.15rem;
      }

      & .summary {
        display: -webkit-box;
        width: 100%;
        height: calc(.875rem * 2 * 1.5);
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        color: #000;
        line-height: 1.5;
        font-size: .875rem;
      }
    }
  }
}

.promise-list {
  & .info {}

  & .item-box {
    & .pic-box {
      display: inline-block;
      margin-bottom: .5rem;
      padding: 1rem;
      overflow: hidden;
    }

    & .content {
      & .title {
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.2;
      }
    }
  }
}

.about-list {
  & .accordion dt {
    position: relative;
    border-top: solid 1px $color-d;;
    padding: 1rem 3rem 1rem 0;
    cursor: pointer;
    color: #000;
    font-size: 1.75rem;

    &::before {
      content: "";
      position: absolute;
      top: 36%;
      right: 14px;
      transform: translateX(-50%);
      display: block;
      width: 20px;
      height: 20px;
      border-right: 2px solid $red-8;
      vertical-align: top;
      margin: -2px 0 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateX(-50%);
      display: block;
      width: 20px;
      height: 20px;
      border-top: 2px solid $red-8;
      vertical-align: top;
      margin: -2px 0 0 0;
    }

    &:focus, &:hover {
      color: $red-8;
    }

    &.open {
      color: $red-8;
      //border-bottom: solid 1px #feced3;

      &::before {
        display: none;
      }
    }
  }

  & .accordion dd {
    display: none;
    padding: 1rem 0 3rem 0;
    //font-size: 1.15rem;

    & .content {
      margin-bottom: 1rem;
    }

    & ul {
      padding-left: 15px;
    }
  }
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
  .promise-list {
    & .info {}

    & .item-box {
      & .pic-box {
        display: inline-block;
        margin-bottom: .5rem;
        padding: 1rem;
        overflow: hidden;
      }

      & .content {
        & .title {
          margin-bottom: 0;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1.2;
        }

        & .summary {
          display: -webkit-box;
          width: 100%;
          height: calc(1rem * 3 * 1.5);
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;

          color: #000;
          line-height: 1.5;
          font-size: 1rem;
        }
      }
    }
  }

  .about-list {
    & .accordion dt {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
  .flash-sale {
    background: rgb(175, 180, 183);

    & .price {
      font-size: 1.25rem;
    }
  }

  .top-reviews {
    & .row {
      & .right {
        & .icon-box {
          margin-bottom: .35rem;
          color: $red-6;
          font-size: 1rem;
        }

        & .date {
          margin-bottom: .5rem;
          font-size: 1rem;
        }

        & .title {
          height: calc(1rem * 2 * 1);

          margin-bottom: .5rem;
          font-size: 1rem;
        }

        & .summary {
          height: calc(.75rem * 2 * 1.2);
          line-height: 1.2;
          font-size: .75rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
  .top-reviews {
    & .row {
      & .left {
        margin-bottom: .5rem;
      }

      & .right {
        & .icon-box {
          margin-bottom: .35rem;
          color: $red-6;
          font-size: 1rem;
        }

        & .date {
          margin-bottom: .5rem;
          font-size: 1rem;
        }

        & .title {
          height: calc(1rem * 2 * 1);

          margin-bottom: .35rem;
          font-size: 1rem;
        }
      }
    }
  }

  .promise-list {
    & .item-box {
      & .content {
        & .title {
          margin-bottom: 0;
          font-size: 1.25rem;
        }
      }
    }
  }

  .about-list {
    & .accordion dt {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .promise-list {
    & .item-box {
      & .content {
        & .summary {
          height: calc(.875rem * 3 * 1.4);
          line-height: 1.4;
          font-size: .875rem;
        }
      }
    }
  }

  .about-list {
    & .accordion dt {
      font-size: .875rem;
    }
  }
}