//sub-page
.page-headline {
  background: linear-gradient(to right, rgba(71, 114, 217, 1), rgba(0, 220, 175, 1));
  //background-size: 300px 300px, auto;
  background-position: center;

  padding: 1rem 0;
  text-align: center;

  & .title {
    color: #fff;
    font-size: 1.75rem;
  }
}

.link-box {
  border: 1px solid #333;
  margin-bottom: 2rem;
  padding: 1rem;

  & .title-box {
    margin-bottom: 1rem;
  }

  & .content {
    & a {
      display: inline-block;
      color: #666;
    }
  }
}

.container-sub {
  & .product-category {
    & .sort-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //justify-content: end;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
      background: #f9f9f9;
      border-radius: .35rem;
      margin-bottom: 1rem;
      padding: .5rem .75rem;

      & .btn {
        &:focus, &:hover {
          color: $red-6 !important;
        }

        &.active {
          color: $red-6;
        }

        &.mixitup-control-active {
          color: $red-6;
        }
      }

      & .grid-box {
        display: flex;
        align-items: center;

        & .btn-box {
          margin-right: 1rem;
        }
      }
    }
  }
}

.main-left {
  & .title-box {
    //width: 100%;
    font-weight: bold;

    & [class*="fa"] {
      transform: rotate(0);
      transition: all .3s ease-in-out;
    }

    &:not(.collapsed) {
      & [class*="fa"] {
        transform: rotate(90deg);
      }
    }

    &.collapsed {
      & [class*="fa"] {
        transform: rotate(0);
      }
    }
  }

  & ul.main-list {
    > li {
      &:first-child {
        border-top: 1px solid #ddd;
      }

      &:last-child {
        border-bottom: 1px solid #ddd !important;
      }
    }
  }

  & .countdown-product {
    & .box {
      display: block;
      border: 1px solid $color-9;
      padding: .5rem;

      & .pic-box {
        display: block;
        //border-radius: 15px;
        margin-bottom: .5rem;
        overflow: hidden;
      }

      & .content {
        & .countdown-box {
          white-space: nowrap;
          //background: $red-5;
          //background: #666;
          border-radius: 30px;
          margin-bottom: .5rem;
          padding: .25rem;
          //text-align: center;
          color: #333;
          //font-size: 1.25rem;
          //font-weight: bold;

          & [class*="fa"] {
            color: $red-6;
          }

          > span {
            display: inline-block;
          }

          > span:not(.seperator) {
            background: #333;
            padding: 0 .25rem;
            color: #fff;
            font-weight: bold;
          }
        }

        & .title {
          color: #666;
        }

        & .price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > span:first-child {
            display: inline-block;
            color: $red-8;
            font-size: 1rem;
            font-weight: bold;
          }

          > del {
            display: inline-block;
          }

          > span:last-child {
            display: inline-block;
            background: $red-5;
            padding: 0 .25rem;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  /*Extra large devices (large desktops, 992px and 1200px)*/
}

@media (max-width: 991px) {
  /*Large devices (desktops, 768px and 992px)*/
  .countdown-product {
    & .box {
      display: flex;
      align-items: center;

      & .pic-box {
        margin-bottom: 0;
        max-width: 40%;
      }

      & .content {
        width: calc(100% - 40% - 15px);
        margin-left: 15px;

        & .price {
          justify-content: start;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  /*Medium devices (tablets, 576px and 768px)*/
}

@media (max-width: 575px) {
  /*Small devices (landscape phones, max-width 576px)*/
  .countdown-product {
    & .box {
      display: block;
      align-items: center;

      & .pic-box {
        margin-bottom: .5rem;
        max-width: 100%;
      }

      & .content {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}