@charset "utf-8";

a {
  color: #333;
  text-decoration: none;
  
  &:focus,&:hover {
    color: #f37e7e;
  }
}

img {
  width: 100%;
  height: auto;
  transition: all ease-in-out .3s;
}

.container {
  width: 1460px;
  max-width: 96%;
}

.row-cols-7 > * {
  flex: 0 0 auto;
  width: calc(100% / 7);
}
.row-cols-8 > * {
  flex: 0 0 auto;
  width: calc(100% / 8);
}
.row-cols-9 > * {
  flex: 0 0 auto;
  width: calc(100% / 9);
}
.row-cols-10 > * {
  flex: 0 0 auto;
  width: calc(100% / 10);
}
.row-cols-11 > * {
  flex: 0 0 auto;
  width: calc(100% / 11);
}
.row-cols-12 > * {
  flex: 0 0 auto;
  width: calc(100% / 12);
}

//responsive-pc
@media (max-width: 1399px) {
  //xxl devices (xxl desktops, 1200px and 1400px)
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  //Extra large devices (large desktops, 992px and 1200px)
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  //Large devices (desktops, 768px and 992px)
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  //Medium devices (tablets, 576px and 768px)
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  //Small devices (landscape phones, max-width 576px)
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .row-cols-sm-7 > * {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
  .row-cols-sm-8 > * {
    flex: 0 0 auto;
    width: calc(100% / 8);
  }
  .row-cols-sm-9 > * {
    flex: 0 0 auto;
    width: calc(100% / 9);
  }
  .row-cols-sm-10 > * {
    flex: 0 0 auto;
    width: calc(100% / 10);
  }
  .row-cols-sm-11 > * {
    flex: 0 0 auto;
    width: calc(100% / 11);
  }
  .row-cols-sm-12 > * {
    flex: 0 0 auto;
    width: calc(100% / 12);
  }
}
@media (min-width: 768px) {
  .row-cols-md-7 > * {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
  .row-cols-md-8 > * {
    flex: 0 0 auto;
    width: calc(100% / 8);
  }
  .row-cols-md-9 > * {
    flex: 0 0 auto;
    width: calc(100% / 9);
  }
  .row-cols-md-10 > * {
    flex: 0 0 auto;
    width: calc(100% / 10);
  }
  .row-cols-md-11 > * {
    flex: 0 0 auto;
    width: calc(100% / 11);
  }
  .row-cols-md-12 > * {
    flex: 0 0 auto;
    width: calc(100% / 12);
  }
}
@media (min-width: 992px) {
  .row-cols-lg-7 > * {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
  .row-cols-lg-8 > * {
    flex: 0 0 auto;
    width: calc(100% / 8);
  }
  .row-cols-lg-9 > * {
    flex: 0 0 auto;
    width: calc(100% / 9);
  }
  .row-cols-lg-10 > * {
    flex: 0 0 auto;
    width: calc(100% / 10);
  }
  .row-cols-lg-11 > * {
    flex: 0 0 auto;
    width: calc(100% / 11);
  }
  .row-cols-lg-12 > * {
    flex: 0 0 auto;
    width: calc(100% / 12);
  }
}
@media (min-width: 1200px) {
  .row-cols-xl-7 > * {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
  .row-cols-xl-8 > * {
    flex: 0 0 auto;
    width: calc(100% / 8);
  }
  .row-cols-xl-9 > * {
    flex: 0 0 auto;
    width: calc(100% / 9);
  }
  .row-cols-xl-10 > * {
    flex: 0 0 auto;
    width: calc(100% / 10);
  }
  .row-cols-xl-11 > * {
    flex: 0 0 auto;
    width: calc(100% / 11);
  }
  .row-cols-xl-12 > * {
    flex: 0 0 auto;
    width: calc(100% / 12);
  }
}
@media (min-width: 1400px) {
  .row-cols-xxl-7 > * {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
  .row-cols-xxl-8 > * {
    flex: 0 0 auto;
    width: calc(100% / 8);
  }
  .row-cols-xxl-9 > * {
    flex: 0 0 auto;
    width: calc(100% / 9);
  }
  .row-cols-xxl-10 > * {
    flex: 0 0 auto;
    width: calc(100% / 10);
  }
  .row-cols-xxl-11 > * {
    flex: 0 0 auto;
    width: calc(100% / 11);
  }
  .row-cols-xxl-12 > * {
    flex: 0 0 auto;
    width: calc(100% / 12);
  }
}